@import url("http://fonts.googleapis.com/css?family=Dancing+Script:400");
/**********************
* VARIABLES
**********************/
/**********************
* LAYOUTS
**********************/
.l-mediaWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.l-mediaWrapper > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/**********************
* BASE
**********************/
body > footer {
  padding: 40px 0; }

input::-webkit-input-placeholder {
  font-style: italic;
  color: #aaaaaa !important; }
input:-moz-placeholder {
  font-style: italic;
  color: #aaaaaa !important; }
input::-moz-placeholder {
  font-style: italic;
  color: #aaaaaa !important; }
input:-ms-input-placeholder {
  font-style: italic;
  color: #aaaaaa !important; }

/**********************
* MODULES
**********************/
.theme-block {
  *zoom: 1;
  border-bottom: 1px solid #efefef;
  padding: 40px 0; }
  .theme-block:before, .theme-block:after {
    content: " ";
    display: table; }
  .theme-block:after {
    clear: both; }

/**********************
* THEME
**********************/
body {
  background-color: white;
  color: red; }

h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 42px; }

.theme-block-intro h1 {
  font-size: 5em; }

@media (max-width: 992px) {
  .becomes-centered {
    text-align: center; } }

.btn-link {
  color: red; }
  .btn-link:hover {
    color: #ff3333; }

/**********************
* STATES
**********************/
