@import "bourbon/bourbon";


/**********************
* VARIABLES
**********************/


/**********************
* LAYOUTS
**********************/


/**********************
* MODULES
**********************/

.theme-block {
	@include clearfix;
	border-bottom: 1px solid #ddd;
	padding: 40px 0;
}

/**********************
* THEME
**********************/

.theme-block {
	background: #efefef;
}

/**********************
* STATES
**********************/
