---
title: "Rossella Pannese – Italian Home Chef"
layout: default
---

section.theme-block.theme-block-intro
	.container
		.row
			.col-md-6
				h1.becomes-centered Rossella Pannese
				p.lead.becomes-centered Hello, I'm Rossella. I teach people to cook real Italian food.
			//- .col-md-7
			//- 	.l-mediaWrapper
			//- 		iframe(src="//player.vimeo.com/video/72625639", width="500", height="281", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
					
//- section.theme-block.theme-block-about
//- 	.container
//- 		.row
//- 			.col-md-5
//- 				h1 About Me
//- 			.col-md-7
//- 				.l-mediaWrapper
//- 					img(src="http://maps.google.com/staticmap?center=41.15274,15.08698&zoom=6&size=720x430&maptype=mobile&markers=41.15274,15.08698,red&sensor=false", alt="")

section.theme-block.theme-block-contact
	.container
		.row
			.col-md-12
				h1.becomes-centered Get in touch
				p.lead.becomes-centered Contact me on 
					a(href="//www.facebook.com/rossellapannesechef", title="Rossella Pannese on Facebook") Facebook
					| .
			.col-md-8
				iframe(src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Frossellapannesechef&amp;width=600&amp;height=558&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=243991498973839", scrolling="no", frameborder="0", style="border:none; width:100%; height:558px;", allowTransparency="true")


