---
title: "Rossella Pannese – Italian Home Chef"
layout: default
---

section.theme-block.theme-block-intro
	.container
		.row
			.col-md-5
				h1 Rossella Pannese
				p.lead Hello, I'm Rossella. I teach people to cook real Italian food.
			//- .col-md-7
			//- 	.l-mediaWrapper
			//- 		iframe(src="//player.vimeo.com/video/72625639", width="500", height="281", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
					
//- section.theme-block.theme-block-gallery
//- 	.container
//- 		.row
//- 			.col-md-4
//- 				h1 Image Gallery
//- 			.col-md-8
//- 				.image-gallery.
//- 					Image gallery

//- section.theme-block.theme-block-about
//- 	.container
//- 		.row
//- 			.col-md-5
//- 				h1 About Me
//- 			.col-md-7
//- 				.l-mediaWrapper
//- 					img(src="http://maps.google.com/staticmap?center=41.15274,15.08698&zoom=6&size=720x430&maptype=mobile&markers=41.15274,15.08698,red&sensor=false", alt="")

section.theme-block.theme-block-contact
	.container
		.row
			.col-md-12
				h1 Get in touch
			.col-md-4
				form(role="form", action="https://docs.google.com/forms/d/1lJbn3ASGuWVX4T78qC0DbFz0O7WVRnBfAGyDVInM0MQ/formResponse", method="POST", id="ss-form", target="_self", onsubmit="")
					.form-group
						label(for="entry_881627200") Name
						input.form-control(placeholder="i.e. Katherine Tate", id="entry_881627200", type="text", name="entry.881627200", dir="auto", aria-required="true", required="required")

					.form-group
						label(for="entry_1048777040") Email
						input.form-control(placeholder="i.e. katherine@email.com",type="email", name="entry.1048777040", value="", id="entry_1048777040", dir="auto", aria-required="true", required="required", title="")
					
					button.btn.btn-primary(type="submit", name="submit") Submit
					button.btn.btn-link(type="reset", name="reset") Clear
